/***** General Styles *****/
:root {
  font-size: 62.5%;

  /*** Colors ***/
  --transparent-cyan: hsla(194, 100%, 63%, 0.13);
  --black: hsl(240, 5%, 7%);
  --white: hsl(255, 100%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
